body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 70vmin;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.destaque {
  font-size: large;
  font-weight: normal;
  color: #cd33ab;
}

.orkut_description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.descriptions {
  display: flex;
}

.orkut_description p {
  padding: 10px;
}

.side_bar {
  display: flex;
  position: relative;
  justify-self: flex-end;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 25%;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.external_container {
  display: flex;
  background-color: #e8eefa;
  padding: 5px;
  width: 100%;
  align-items: center;
}

.side_bar .google_logo {
  position: relative;
  width: 70px;
  margin-top: 4px;
  padding-left: 5px;
}

.login_information {
  border: 3px #fff solid;
  padding: 5px;
  text-align: center;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_button {
  display: flex;
  margin-left: 30px;
}

input {
  padding: 5px 10px 5px 10px;
  border-top: #000 2px solid;
  border-bottom: #f1f4fb 2px solid;
  border-left: #000 2px solid;
  border-right: #f1f4fb 2px solid;
  margin: 5px;
}

input:focus {
  background-color: #ffffa1;
}

button {
  padding: 5px 10px 5px 10px;
  background-color: #d3d3cb;
  border-top: #f1f4fb 2px solid;
  border-bottom: #000 2px solid;
  border-left: #f1f4fb 2px solid;
  border-right: #000 2px solid;
}

button:active {
  transform: scale(0.95); 
}

.nao_membro {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 100%;
  border: 3px #fff solid;
  text-align: center;
}

#entre_ja {
  margin-top: 0px;
  width: 100%;
  padding-bottom: 8px;
}

#conta_google {
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_container {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  background-color: #e8eefa;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 5px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  padding-left: 30px; 
  margin-bottom: 12px;
  cursor: pointer;
  display: inline-block;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff; 
  border-top:#000 2px solid;
  border-bottom:#edece7 1px solid;
  border-left:#000 2px solid;
  border-right:#edece7 1px solid;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #416a8b; 
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
